body{
    color:oklch(52.081% 0.00006 271.152);
    background: beige;
    margin: 0px;
     font-family: "Lexend Deca", sans-serif;
     margin-bottom: 100px;
}

header{
    border-bottom: solid 3px oklch(52.081% 0.00006 271.152);
    padding: 20px;
    font-size: 32px;
    color:oklch(52.081% 0.00006 271.152);
}


.chamada{
    background:rgb(9, 1 ,39);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 20px;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto ;
    gap:10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img{
    opacity: 0.7;
    height: 200;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 2px solid black;

}